.mainProducts {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.product {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.product img {
    width: 300px;
}

.product button {
    cursor: pointer;
}